html {
color: lightgoldenrodyellow;
margin: 0px;
padding: 0px;}
table{ 
    width: auto;
    border: 5px solid white;
    margin: 5px;
    position: absolute;
    right: 0px;    
    top: 500px;
}

#nom{
    border: 1px solid black;
}
#desc {
    border: 1px solid black;
}
#nb {
    border: 1px solid black;
}
.phtml{
    height: 20px;
    background-color: white;
    opacity: 50%;
}
.pcss{
    height: 20px;
    background-color: white;
    opacity: 50%;
}
.p365{
    height: 20px;
    background-color: white;
    opacity: 50%;
}
.pvsc{
    height: 20px;
    background-color: white;
    opacity: 50%;
}
.pfm{
    height: 20px;
    background-color: white;
    opacity: 50%;
}
.pwin{
    height: 20px;
    background-color: white;
    opacity: 50%;
}
.posx{
    height: 20px;
    background-color: white;
    opacity: 50%;
}
.plinux{
    height: 20px;
    background-color: white;
    opacity: 50%;
}
h2{
    position: absolute;
    padding-bottom: 901px;
}
h3{position: absolute;
padding-bottom: 851px;
left: 0px;
}
h4{
    text-justify: auto;
    margin: 0px;
    left: 0px;
    position: absolute;
    padding-bottom: 560px;
}
html, body { 
  height: 100%; 
  margin: 0; 
  overflow: hidden;
  overflow: clip; 
  contain: content;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000; 
    margin:0
        
}

* {
    margin: 0;
    padding: 0;
  }
  
  body {
  background-image: url('Techbackground.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #000;
    overflow: hidden;
  }
