html {  color: lightgoldenrodyellow;
margin: 0px;
padding: 0px;}
table{ 
    width: auto;
    border: 5px solid black;
    margin: 5px;
    position: absolute;
    right: 0px;    
    top: 80px;
}

#nom{
    border: 1px solid black;
}
#desc {
    border: 1px solid black;
}
#nb {
    border: 1px solid black;
}
video{
    z-index: -1;
    position: absolute;
    opacity: 80%;
    margin: 0px;
    padding: 0px;

}
.phtml{
    height: 20px;
    background-color: white;
    opacity: 50%;
}
.pcss{
    height: 20px;
    background-color: white;
    opacity: 50%;
}
.p365{
    height: 20px;
    background-color: white;
    opacity: 50%;
}
.pvsc{
    height: 20px;
    background-color: white;
    opacity: 50%;
}
.pfm{
    height: 20px;
    background-color: white;
    opacity: 50%;
}
.pwin{
    height: 20px;
    background-color: white;
    opacity: 50%;
}
.posx{
    height: 20px;
    background-color: white;
    opacity: 50%;
}
.plinux{
    height: 20px;
    background-color: white;
    opacity: 50%;
}
h2{
    text-align: center;
}
h4{
    text-justify: auto;
}